<% include ../partials/header %>


<body class="paragliding">
		<h1>checking your weather station ...</h1>
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-12">
				Prognosis:
			</div>
				<div class="col-xs-6 col-sm-12"><%= myConclusion %>
			</div>
			<div class="col-xs-6 col-sm-12">
				For more information check the <a href src='http://www.wunderground.com/cgi-bin/findweather/getForecast?query=pws:KCADALYC1'>Forecast</a>
			</div>
		</div>
			<div class="col-xs-6 col-sm-12">
				Summary:
			</div>
				<div class="col-xs-6 col-sm-12"><%= wind_string %>
			</div>
			<div class="col-xs-6 col-sm-12">
				Current wind direction:
			</div>
			<div class="col-xs-6 col-sm-12"><%= wind_dir %>
			</div>

		</div>
		
		<div class="row">
			<div class="col-xs-6 col-sm-12">
				Current dewpoint string:
			</div>
			<div class="col-xs-6 col-sm-12"><%= dewpoint_string %></div>
			<div class="col-xs-6 col-sm-12"><%= wind_degrees %></div>
		</div>

		<div class="row">
			<div class="col-xs-6 col-sm-12">
				Current temperature:
			</div>
			<div class="col-xs-6 col-sm-12"><%= temp_f %></div>
			<div class="col-xs-6 col-sm-12"><%= precip_today_string %></div>
		</div>
	</div>
	<div class="col-xs-6 col-sm-12">Current webcam image, lets you see if other paragliders are out there right now.</div>
	<img class="webcam" src="<%= cam_view %>" alt="The official HTML5 Icon"></img>
	<br>
	<br>

<!-- //should put something into url -->
	<form method="POST" action="users/profile"> 
		<input type="hidden" value="<%= station %>" name="station">
		<button type="button" class="btn btn-lg btn-primary">Save to Favorites</button>
	</form>
	<br>

<% include ../partials/footer %>

